@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(235, 235, 235);
  scroll-behavior: smooth;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Custom Swiper Pagination Styles */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: rgb(2 132 199);
  opacity: 1;
}
